@use "sass:math";
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap');
$size: 3000px;
body{
  margin: 0;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}

.radar {
  width: 100vw;
  height: 100vh;
  background-size: cover;
  position: absolute;
  background-position: 0px 0px;
  background-image: conic-gradient(from 0deg at 50% 50%, #000000FF 0%, #073AFF00 100%);
  top: 0;
  left: 0;
  animation: linear rotate360 7s infinite;
}
@keyframes rotate360 {
  @for $i from 1 through 360 {
    $move: $i / 3.6;
    #{$move}% {
      background-image: conic-gradient(from -#{$i}deg at 50% 50%, #000000FF 0%, #073AFF00 100%);
    }
  }
}
.text-radar {
  position: relative;
  height: 100vh;
  width: 100vw;
  color: #fff;
  font-family: 'Orbitron', sans-serif;
  font-size: 2rem;
  font-weight: 700;
  z-index: 2;
  @media (max-width: 600px) {
    font-size:1rem;
  }
  .text-top-left {
    position: absolute;
    z-index: 2;
    top: 20%;
    left: 10%;
    span {
      color: rgba(0, 0, 0, 0.5);
      font-weight: 400;
    }
  }
  .text-bottom-left {
    position: absolute;
    z-index: 2;
    bottom: 20%;
    left: 10%;
    span {
      color: rgba(0, 0, 0, 0.5);
      font-weight: 400;
    }
  }
  .text-bottom-right {
    position: absolute;
    z-index: 2;
    bottom: 20%;
    right: 10%;
    text-align: end;
    span {
      color: rgba(0, 0, 0, 0.5);
      font-weight: 400;
    }
  }
  .text-top-right {
    position: absolute;
    z-index: 2;
    top: 20%;
    right: 10%;
    text-align: end;
    span {
      color: rgba(0, 0, 0, 0.5);
      font-weight: 400;
    }
  }
}
